<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        'array_syntax' => ['syntax' => 'short'],
        'elseif' => true,
        'lowercase_constants' => true,
        'no_closing_tag' => true,
    ])
    ->setFinder($finder);
